/* frontend/src/index.css */

/* Reseteo básico para eliminar estilos por defecto del navegador */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Color de fondo para toda la app */
  background-color: #f4f7f6;

  /* ¡CRÍTICO! Prevenimos cualquier tipo de scroll en el cuerpo de la página */
  overflow: hidden;
}